.genreItem {
  padding: 0 1rem;
  background: black;
  color: white;
  border-radius: 1rem;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.genreContainer {
  margin-bottom: 1rem;
}

.infoField {
  margin-bottom: 1.2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #dedede;
  background: #efefef;
}
.plotText {
  max-width: 48rem;
}
